* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}
.shopping{
    display: flex;
    justify-content: space-between;
    
}
.shopping p{
    color: red;
    padding: 20px;
    font-size: larger;
}
.product-items {
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
    padding: 12px;
}

.product-item {
    width: 19%;
    background-color: #fff;
    padding: 12px;
    text-align: center;
    
}
.product-item button {
    margin-top: 15px;
    padding: 0 12px;
    height: 30px;
}
.product-item button:hover {
    background-color: rgb(132, 186, 236);
    border-radius: 5px;
}

.product-item-text {
    display: flex;
    justify-content: space-between;
}
.cart {
    margin: auto;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 10px;
    border: 1px solid rgb(183, 176, 176);
    position: fixed;
    height: 100vh;
    width: 400px;
    right: 0;
    top: 38px;
    background-color: rgb(187, 206, 212);
    right: -100%;
    transition: all 0.3s ease;
}
.cart h2 {
    color: red;
}
.cart table {
    width: 100%;
  
  
}
.cart table thead tr th:first-child{
    text-align: left;
}
.cart table thead tr th {
    border: 2px solid #e49393;
}

.cart button{
    margin-top: 15px;
    padding: 0 12px;
    height: 30px;
    color: #fff;
    background-color: red;
    border: 1px solid #fff;
    border-radius:10px;
}
.cart i {
    cursor: pointer;
    margin-top: 10px;
    margin-right: 370px;
    color: red;
}